
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(inter.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {font-size: 62.5%;} /* =10px */
body { font-size: 1.4rem; } /* =14px */
h1 { font-size: 2.4rem; } /* =24px */

body {
    font-family: 'Inter', 'sans-serif';
    max-width: 1024px;
    margin: 0 auto;
    color: #483828;
}

#vdh,
#fci {
    display: none;
    height: 4rem;
    position: relative;
    top: 1rem;
    left: 0.5rem;
}

#bodImg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
}

#bod {
    margin: 4rem 6rem 0 6rem;
    background: #ee404c;
    padding: 2rem;
    padding-top: 0.5rem;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

#race {
    background-color: #E8E1DA;
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    position: relative;
}

h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.picture {
    width: 40rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 5.8rem;
}

#attributes {
    display: flex;
    flex-wrap: wrap;
    padding-right: 3rem;
}

.container {
    text-align: left;
    padding: 2rem 6rem;
}

.attribute {
    flex-grow: 1;
}

#racePictureContainer {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.content-container {
    padding: 2rem;
    border-radius: 8px;
    background-color: #F3F3F3;
    width: auto;
}

.attribute-container {
    min-width: 25rem;
    margin-right: 3rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    position: relative;
    bottom: 0.5rem;
    float: left;
    right: 0.5rem;
}

h4 {
    text-transform: uppercase;
}

.attribute-dot {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-right: 1rem;
}

.attribute-dots {
    display: flex;
    margin-left: 5rem;
}

.attribute-dot-filled.red {
    background-color: #ee404c;
}

.attribute-dot-filled.orange {
    background-color: #DF772B;
}

.attribute-dot-filled.yellow {
    background-color: #DFCD2B;
}

.attribute-dot-filled.lemon {
    background-color: #90DF2B;
}

.attribute-dot-filled.green {
    background-color: #39DF2B;
}

.attribute-details {
    display: none;
}